body {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    gap: 16px;
}

.Header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 96px;

}

.Header-top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.Header-logo {
    font-weight: 700;
}

.Header-links, .Hero-Subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.Header-links {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.Hero-Text {
    font-size: 48px;
    font-weight: 800;
}

.Hero-image {
    border: 0;
    margin: 0;
}

.Hero-button {
    background-color: #3882f6;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: 8px;
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.Hero {
    display: flex;
    padding: 24px 0px;
    align-self: center;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.Hero-left {
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 600px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-header {
    align-self: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.content-images {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
}

.content-subtext {
    max-width: 150px;
    text-align: center;
    font-size: 16px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 30px;
    font-style: italic;
    padding: 24px 48px;
}

.quote-text {
    font-weight: 300;
}

.quote-subtext {
    text-align: end;
    font-weight: 700;
}

.extras {
    align-self: center;
    background-color: #3882f6;
    display: flex;
    padding: 24px;
    color: #f9faf8;
    border-radius: 8px;
}

.extras-text {
    font-size: 24px;
    font-weight: 700;
}

.extras-subtext {
    font-size: 16px;
}

.extras-button {
    margin: 8px 16px;
    background-color: #3882f6;
    border-color: #f9faf8;
    padding: 8px 16px;
    border-radius: 8px;
    border-width: 4px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 700;
}

.footer {
    background-color: #1f2937;
    padding: 16px;
    text-align: center;
    color: #f9faf8;
}